.container-header-about{
    margin-top: 120px;
}
.about-h2{
    line-height: 3rem;
}
.title-header-about{
    max-width: 490px;
}
.header-bg-img-big-about{
    bottom: -228px;
    position: absolute;
}
.header-bg-about{
    height: 646px;
}
.container-about-team{
    max-width: 990px;
}
.about-team-border-b{
    border-bottom: 1px solid #e8e8e8;
}
.about-team-wrapper{
    padding: 80px 0 100px;
}
.about-propeda-h2{
    margin-bottom: 35px;
}
.about-propeda-p{
    max-width: 820px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.team-slide{
    padding-top: 85px;
}
#slider-about,.swiper-slide-about{
    height: 265px !important;
}
.swiper-button-prev-about,.swiper-button-next-about{
    background: none;
    top: 56%;
}
.swiper-button-prev-about:focus,.swiper-button-next-about:focus{
    outline: none;
}
.swiper-button-prev-about{
    left: -86px;
}
.swiper-button-next-about{
    right: -86px;
}
.name-about{
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1px;
}
.slider-about-img{
    margin-bottom: 24px;
}
.text-vakansiy{
    margin-bottom: 23px;
}
.soc-about a{
    margin-right: 15px;
}
.soc-about a:last-child{
    margin-right: 0;
}
/*#map{*/
/*    width: 100%;*/
/*    height: 550px;*/
/*}*/
